/* CSS version 1.2 https: //github.com/stadium-software/full-width-top-bar */
#app:has(.stadium-top-bar) {
    .header {
        top: var(--stadium-full-top-bar-profile-icon-top-position, 6px);
        right: var(--stadium-full-top-bar-profile-icon-right-position, 4px);
    }

    .split-flex {
        display: flex;
        flex-direction: row;
        padding: 0 30px 0 0;
        justify-content: center;

        .control-container:last-child {
            margin-left: auto;
        }
    }

    .container {
        display: block;
        padding-right: 0;
        padding-left: 0;
    }

    .page-content {
        display: block;
    }

    .container .stack-layout-container:has(.stadium-top-bar) {
        background-color: var(--stadium-full-top-bar-background-color, var(--SECONDARY-THEME-COLOR, #2196f3));
        width: 100%;
        padding-right: 0;
        padding-left: 0;

        nav.menu-container {
            border-radius: 0;
            box-shadow: none;
            margin-top: 0;
        }
    }

    .container .stack-layout-container:first-child:has(.stadium-top-bar.fixed-top-bar, .fixed-top-bar .stadium-top-bar) {
        position: fixed;
        z-index: 999;
        top: var(--stadium-full-top-bar-top-margin, 0px);
    }

    .container:has(.stadium-top-bar.fixed-top-bar) > .stack-layout-container:nth-child(2) {
        padding-top: var(--stadium-full-top-bar-fixed-bar-height, 50px);
    }

    .container:has(.stadium-top-bar) > .stack-layout-container:not(:has(.stadium-top-bar)) {
        padding-right: 15px;
        padding-left: 15px;
    }

    &:has(.page-content .stadium-top-bar) .container > .stack-layout-container:first-child {
        background-color: unset;
    }

    &:has(.page-content .stadium-top-bar) .container > .stack-layout-container:first-child {
        position: static;
    }

    &:has(.page-content .stadium-top-bar) {

        .container:has(.stadium-top-bar) > .stack-layout-container {
            padding-right: 0;
            padding-left: 0;
        }

        .page-content > .stack-layout-container:first-child:has( >  .stadium-top-bar) {
            background-color: var(--stadium-full-top-bar-background-color, var(--SECONDARY-THEME-COLOR, #2196f3));
            width: 100%;
            padding-right: 0;
            padding-left: 0;

            nav.menu-container {
                border-radius: 0;
                box-shadow: none;
                margin-top: 0;
            }
        }

        .page-content > .stack-layout-container:first-child:has( >  .stadium-top-bar.fixed-top-bar) {
            position: fixed;
            z-index: 999;
            top: var(--stadium-full-top-bar-top-margin, 0px);
        }

        .page-content:has(.stadium-top-bar.fixed-top-bar) > .stack-layout-container:nth-child(2) {
            padding-top: var(--stadium-full-top-bar-fixed-bar-height, 50px);
        }

        .page-content:has(.stadium-top-bar) > .stack-layout-container {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}