/* CSS version 1.3 https: //github.com/stadium-software/full-width-top-bar */
:root {
    --stadium-full-top-bar-background-color: rgb(33, 150, 243);
    --stadium-full-top-bar-top-margin: 0px;
    --stadium-full-top-bar-fixed-bar-height: 50px;

    --stadium-full-top-bar-profile-icon-top-position: 6px;
    --stadium-full-top-bar-profile-icon-right-position: 4px;
    --stadium-full-top-bar-profile-fixed-top-padding: 60px;
}